@font-face {
    /* 글씨체 사이즈 변경하면 이쁠 것 같음, 영어 글씨 이쁨 */
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* 청첩장 정석 글씨체 */
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* 고운 바탕체보다 조금 두꺼운 */
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 5%;
}

body,
button,
a {
    font-family: 'GowunBatang-Regular';
}

.part {
    padding: 50px 0;
}

h3 {
    text-align: center;
    margin-top: 0;
}

#mainImage,
#subImage {
    /* margin: 10% 0; */
    text-align: center;
}

#mainImage>img {
    width: 90%;
}

#introduce {
    /* margin: 10% 0; */
    text-align: center;
}

/* Phone */
#phone {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    min-height: 100%;
    height: 100%;
    /* font-family: helvetica neue, helvetica, arial, sans-serif; */
}

.content {
    min-height: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    z-index: 0;
}

.content .button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #efefef;
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 3em;
    border: 0;
    color: #333;
}

.content .button:hover {
    color: #fff;
    background-color: #f8f2e9;
}

#modal-container {
    position: fixed;
    left: 0;
    top: 0;
    display: table;
    height: 100%;
    width: 100%;
    z-index: 1;
    /* hidden 처리 */
    transform: scale(0);
}

.modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}

.modal {
    display: inline-block;
    position: relative;
    background-color: #fefefe;
    width: 80%;
}

.modal>div>p {
    margin: 0;
}

.modal>div>p:first-child {
    font-size: small;
    color: rgb(60, 37, 21);
}

.modal>table {
    width: 100%;
    padding: 0 5%;
}

.modal>table>tr {
    /* padding: 5% 0; */
}

.modal>table>tr>td {
    text-align: center;

}

.modal>div {
    padding: 5%;
    margin-bottom: 15px;
    background-color: #f8f2e9;
}

.modal>hr {
    margin: 20px 30px;
    /* transform: scaleY(0.5); */
    border: 0;
    height: 1px;
    background-color: #dedede;
}

#groom_contact>tbody>tr>td:first-child,
#groom_contact>tbody>tr>td:last-child>a {
    color: rgb(28, 67, 121);
}

#bride_contact>tbody>tr>td:first-child,
#bride_contact>tbody>tr>td:last-child>a {
    color: rgb(182, 105, 105);
}

#close-modal {
    padding: 5px 40px;
    border: 0;
    border-radius: 3em;
    margin: 20px 0;
}

.number {
    text-decoration: none;
    color: black;
}

/*
* ------------------------------
* Revealing Animation
* ------------------------------
*/
#modal-container.call {
    transform: scale(1);
}

#modal-container.call .modal-background {
    background: transparent;
    animation: fadeIn .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.call .modal-background .modal {
    /* 콘텐츠를 초기에 보여주지 않음 */
    opacity: 0;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.call.out {
    /* 전체 모달 컨테이너를 숨김 처리(다른 애니메이션이 모두 끝난 0.5초 후에 처리하기 위해 0.5초 지연시킴 */
    animation: quickScaleDown 0s .5s linear forwards;
}

#modal-container.call.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.call.out .modal-background .modal {
    animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.content.call.out {
    animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/* Dimmed showing */
@keyframes fadeIn {
    0% {
        background: transparent;
    }

    100% {
        background: rgba(0, 0, 0, .7);
    }
}

/* Show modal content from bottom to top */
@keyframes scaleUp {
    0% {
        /* 모달 콘텐츠를 하단에 위치시킴 */
        transform: scale(.8) translateY(1000px);
        opacity: 0;
    }

    100% {
        /* 모달 콘텐츠를 본래 위치로 돌려놓음 */
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

/* Shrink content */
@keyframes scaleBack {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}

/* Hide modal container*/
@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }

    99.9% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/* Dimmed hiding */
@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, .7);
    }

    100% {
        background: transparent;
    }
}

/* modal content from top to bottom */
@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }

    100% {
        transform: scale(.8) translateY(1000px);
        opacity: 0;
    }
}

@keyframes scaleBack {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.85);
    }
}

@keyframes scaleForward {
    0% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

/* Gallery */
#slide {
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
    overflow: hidden;

    /* position */
    /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
    position: relative;

    /* size */
    width: 100%;

    /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
    user-select: none;
}

.slide_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
    position: relative;
    left: 0px;

    /* size */
    width: 100%;
    height: auto;
    /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
    flex-shrink: 0;

    /* transition */
    transition: left 0.15s;
}

.slide_item>img {
    width: 90%;
}

.slide_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    /* 버튼이 중앙에 위치하게 하기위해 계산 */
    top: calc(50% - 16px);

    /* size */
    width: 32px;
    height: 32px;

    /* style */
    cursor: pointer;
}

.slide_prev_button {
    left: 10px;
}

.slide_next_button {
    right: 10px;
}

/* 페이지네이션 스타일 */
ul,
li {
    list-style-type: none;
    padding: 0;
}

.slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;

    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
}

.slide_pagination>li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: rgba(227, 227, 227, 0.533);
    cursor: pointer;
    font-size: 25px;
}

.slide_pagination>li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #cacaca;
}


/* Calender */
#calender {
    width: 100%;
    position: relative;
}

#calender-table {
    position: relative;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 0 10%;
}

#calender-table td {
    padding: 1%;
}

#calender-table>thead>tr:first-child>td {
    font-weight: bold;
}

#calender-table>thead>tr>td>hr {
    border: 0;
    height: 1px;
    background-color: #dedede;
    margin: 15px 0;
}

#calTime {
    font-weight: lighter;
}

#sunday {
    color: #DC143C;
}

.today {
    color: white;
    border-radius: 50%;
    background-color: #da5a5a;
}

#day-count{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#day-count>span{
    font-weight:500;
}


/* Map */
#map>div {
    text-align: center;
    font-size: small;
    padding-top: 10px;
}

#kakao-map {
    font: normal normal 400 12px/normal dotum, sans-serif;
    width: 100%;
    height: auto;
    color: #333;
    position: relative
}

#map-img {
    width: 100%;
    height: auto;
}

#kakao-map-menu {
    overflow: hidden;
    padding: 7px 11px;
    border-radius: 0px 0px 2px 2px;
    background-color: rgb(249, 249, 249);
}

#kakao-map-menu>a {
    float: left;
}

#kakao-map-menu>a>img {
    display: block;
    width: auto;
    height: 16px;

}

#kakao-map-menu>div {
    float: right;
    position: relative;
    top: 1px;
    font-size: 11px;
}

#kakao-map-menu>div>a {
    float: left;
    height: 15px;
    padding-top: 1px;
    line-height: 15px;
    color: #000;
    text-decoration: none;
}

#kakao-map-menu>div>span {
    width: 1px;
    padding: 0;
    margin: 0 8px 0 9px;
    height: 11px;
    vertical-align: top;
    position: relative;
    top: 2px;
    border-left: 1px solid #d0d0d0;
    float: left;
}


/* Bank */
#bank {
    box-sizing: border-box;
}

.bank-list {
    margin: 10px 0;
    width: 100%;
    /* background-color: #f8cfca; */
}

.bank-list>div>p {
    margin: 0;
}

.triggerToggle {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f2e9;
    align-items: center;
}

.triggerToggle>p:last-child {
    font-size: small;
}

.triggerToggle>img {
    height: 20px;
    width: auto;
}

.target {
    background-color: #fffbf4;
    text-align: center;
    color: #333;
    font-weight: 700;
    box-sizing: border-box;
    /* display: none; */
    color: #333;
    padding: 10px;
}

.clipboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.clipboard #account {
    text-align: left;
}

.clipboard>button {
    border: solid 1px white;
    border-radius: 3em;
    background-color: white;
    padding: 0 10px;
    margin: 10px 0;
    height: 80%;
    font-size: x-small;
}